<footer class="footer-container">
  
  <div class="contact-banner">
    <div class="banner-inner">

      <div class="footer-text">
        <span class="always-text">ALWAYS</span>
        <div class="stacked-text">
          <span>LEARNING</span>
          <span>GROWING</span>
          <span>IMPROVING</span>
        </div>
      </div>

      <div class="footer-profile">
        
          <img src="assets/anh.png" alt="Avatar" class="footer-avatar">
      
        <div class="contact-box">CONTACT ME</div>
      </div>

    </div>
  </div>

  <div class="social-section">
    <div class="social-box">
      <a href="https://www.linkedin.com/in/tran-hai-my/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://www.facebook.com/tr.haimy/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="https://github.com/mytran07-hcmut" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
  </div>

</footer>