<div class="hero-container">


  <!-- Section tiêu đề chính với animated gradient -->
  <h1 class="main-title">TRAN HAI MY</h1>

  <!-- Section hình đại diện -->
  <div class="avatar-section">
    <img src="assets/anh.png" alt="Avatar" class="avatar-img">
  </div>

  <!-- Floating Keywords Background -->
  <div class="floating-bg" [class.is-dragging-any]="isDraggingAny">
    @for (kw of keywords; track kw.text) {
      @if (kw.isActiveAnimation) {
        <div class="floating-keyword-container"
             [class.dragging]="kw.isDragging"
             [class.fading-out]="kw.isFadingOut"
             [style.left]="kw.left"
             [style.right]="kw.right"
             [style.top]="kw.top"
             [style.animation-delay]="kw.delay"
             [style.animation-duration]="kw.duration"
             [style.--scale]="kw.scale">
           
           <div class="keyword-drag-wrapper"
                [style.transform]="'translate(' + kw.transformX + 'px, ' + kw.transformY + 'px)'"
                (mousedown)="onGrab($event, kw)"
                (touchstart)="onGrab($event, kw)">
             {{ kw.text }}
           </div>
        </div>
      }
    }
  </div>

  <!-- Section search bar và menu -->
  <div class="menu-container">
    <div class="search-bar">
      <input type="text" [placeholder]="placeholderText()">
      <i class="fa-solid fa-play"></i>
    </div>
    
    <ul class="nav-links">
      <li (click)="scrollToSection('about-me')">
        <span>About me</span>
        <i class="fa-solid fa-arrow-down"></i>
      </li>
      <li (click)="scrollToSection('experience')">
        <span>Experience</span>
        <i class="fa-solid fa-arrow-down"></i>
      </li>
      <li (click)="scrollToSection('skills')">
        <span>Skills</span>
        <i class="fa-solid fa-arrow-down"></i>
      </li>
    </ul>
  </div>
</div>