:host {
  display: block;
}

.content-box {
  padding: 2.5rem;
  margin-bottom: 3rem; /* Khoảng cách giữa các box */
  width: 100%;
}

.box-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--text-color);
  padding-bottom: 0.5rem;
  display: inline-block;
}

.box-body {
  font-size: 1.1rem;
  line-height: 1.8; /* Dãn dòng rộng ra để dễ đọc hơn */
  color: var(--text-color);
  text-align: justify;
}